:root{
    --primary-color: #0077BE;
    --secondary-color: #b77606;
    --accent-1: #003366;
    --accent-2: #333333;
    --accent-3: #F5F5F5;
    --heading-font: 'Montserrat', sans-serif;
    --text-font: 'Anton', sans-serif;
    --border: 5px solid;
    /* --text-shadow: text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    width: 80%;
    margin: auto;
}

h1,h2,h3,h4,h5.h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    font-family: var(--text-font);
    color: var(--accent-2);
    padding-left: 15px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

header{
    width: 100%;
    height: 60px;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

nav ul{
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 11%;
}

nav a{
    text-decoration: none;
    width: 15%;
    height: 60px;
    color: var(--accent-2);
}

nav ul li:hover{
    transform: translateX(10px) scale(1.3);
    
}

nav a:hover{
    color: rgb(75, 73, 73);
    font-family: arial;
}

header img{
    width: 100px;
    height: 60px;
    bottom: 0.5px;
    padding: 10px 0px 0px 20px;
}

#hero{
    font-size: 22px;
    text-align: center;
    padding: 30px;
}

strong{
    font-size: 30px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

section{
    background-color: var(--accent-3);
    margin-top: 20px;
    padding: 10px;
    height: auto;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
}

iframe{
    width: 100%;
    border: none;
    padding: 10px;
    height: 600px;
    /* margin: 20px auto; */
}

#team{
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    gap: 10%;
    
}

#team h2{
    grid-column: 1/4;
    padding: 40px;
    font-size: 30px;
}

.team img {
    width: 160px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#contact-us h3{
    text-align: left;
    padding: 30px;
    font-size: 25px;
}

.input-text{
    height: 35px;
    padding-left: 30px;
    display: flex;
}

.input-text label{
    width: 80px;
    display: inline-block;
}

.input-text input{
    height: 30px;
    width: 200px;
    border-radius: 6px;
}

.input-text input:focus{
    background-color: #003366;
    color: white;
}

legend{
    padding: 10px;
    font-size: 20px;
}

.radio{
    height: 50px;
    padding: 20px;
    display: flex;
}

.radio label{
    width: 200px;
    display: inline-block;
}

input[type="radio"]{
    height: 25px;
    accent-color: rgb(14, 31, 131);
}

.form-item{
    margin-top: 10px;
}

.form-item label{
    padding: 20px;
}

.form-item textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    overflow-y: hidden;
}

textarea:focus{
    background-color: #003366;
    color: white;
    overflow-y:scroll;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

.form p{
    width: 200px;
}

.form input{
    width: 19px;
    margin-left: 10px;
}

.form input[type="checkbox"]{
    accent-color: #eaab3f;
}

.btn{
    width: 80%;
    padding: 20px;
    margin: auto;
}

.btn button{
    background-color:#eaab3f ;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}

button:hover{
    background-color: var(--accent-1);
    color: white;
}

footer{
    clear: both;
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #cdcccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}

footer a{
    text-align: center;
    align-self: center;
    font-size: 18px;
    text-decoration: none;
}

footer p{
    /* position: absolute;
    top: 30px;
    left: 400px; */
    background-color: #cdcccc;
    text-align: center;
    align-self: center;
}


footer nav{
    /* position: absolute;
    top: 10px;
    left: 900px; */
    background-color: #cdcccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .sociallinks a{
    width: 80px;

}

.sociallinks img{
    width: 40px;
    height: 40px;
}
