main{
    max-width: 840px;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    padding: 20px;
    display: block;
}

h1{
    color: darkblue;
}

main img{
    width: 150;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: 0;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid #cfc9c9;
    padding: 10px;
    background-color: #eee;
    color: #323131;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}